.header-outer {
  margin-top: 2vw;
}

.home-button-outer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.app-name {
  font-family: Ocean Rush;
  font-size: 3rem;
  margin-left: 5vw;
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(251, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  cursor: pointer;
  transition: 2s;
}

.app-name:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.692);
  transition: 2s;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 2vw;
  margin-bottom: 5vw;
}

header a {
  text-decoration: none;
  font-family: Soccer League;
  font-size: 2rem;
  color: black;
  transition: 0.5s;
}

header a:hover {
  text-shadow: 0 0 10px white;
  transition: 0.5s;
}

@media (max-width: 900px) {
  header a {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .app-name {
    font-size: 2.5rem;
  }
  header a {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .app-name {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  header a {
    font-size: 0.8rem;
  }
  .app-name {
    font-size: 1.8rem;
  }
}
