.header-outer {
  /* background: blue; */
}

.home-button-outer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.home-button-outer h1 {
  font-family: Ocean Rush;
  font-size: 3rem;
  margin-left: 5vw;
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(251, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 2vw;
}

header a {
  text-decoration: none;
  font-family: Soccer League College;
  font-size: 1.5rem;
  color: rgb(6, 0, 92);
  transition: 0.5s;
}

header a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(6, 0, 92);
  transition: 0.5s;
}

@media (max-width: 700px) {
  header a {
    font-size: 1.3rem;
  }
  .home-button-outer h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 600px) {
  header a {
    font-size: 1.1rem;
  }
  .home-button-outer h1 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  header a {
    font-size: 0.8rem;
  }
  .home-button-outer h1 {
    font-size: 1.8rem;
  }
}
